/* Examples on GitHub */

.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: #FF6300;
    text-align: center;
    padding: .809em;
    display: block;
    color: #fcfcfc;
    margin-bottom: .809em;
}

.btn-neutral {
    background-color: #ff5a00 !important;
    color: #fff !important;
}

h1, h2, h3 {
    color: #ff5a00 !important;
}
